<!--<div class="card" [ngStyle]="{'background-color': (isSelected) ? 'rgb(204, 197, 185)' : 'white' }">-->
<div class="card" [style.background-color]="isSelected ? 'rgb(204, 197, 185)' : 'white'">
  <div class="header">
    <h2 class="title">{{ item.from }} - {{ item.to }}</h2>
  </div>
  <div class="content">
    <p>
      Flight-No.: #{{ item.id }}
      @if (item.delayed) {
        <span> (delayed)</span>
      }
    </p>
    <p [class.delayed]="item.delayed">Date: {{ item.date | date: 'MM.dd.YYYY HH:mm' }}</p>
    <p>
      @if (!isSelected) {
        <button type="button" class="btn btn-default" (click)="select()">Add</button>
      } @else {
        <button type="button" class="btn btn-default" (click)="deselect()">Rem.</button>
      }

      <button type="button" class="btn btn-default" style="margin-left: 10px" (click)="edit.emit()">Edit</button>

      <ng-content />
    </p>
  </div>
</div>

<!--{{ blink() }}-->
