<div class="card">
  <div class="header">
    <h1 class="title">Flight Edit</h1>
  </div>
  <div class="content">
    <p>Id: {{ id }}</p>
    <p>ShowDetails: {{ showDetails }}</p>
  </div>

  @if (editForm) {
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="id">Id:</label>
        <input id="id" formControlName="id" class="form-control" />
      </div>
      <div class="form-group">
        <label for="from">From:</label>
        <input id="from" formControlName="from" class="form-control" />
      </div>
      <flight-validation-errors fieldLabel="From" [errors]="editForm?.controls.from?.errors"></flight-validation-errors>
      <div class="form-group">
        <label for="to">To:</label>
        <input id="to" formControlName="to" class="form-control" />
      </div>
      <flight-validation-errors fieldLabel="To" [errors]="editForm?.controls.to?.errors"></flight-validation-errors>
      <div class="form-group">
        <label for="date">Date:</label>
        <input id="date" formControlName="date" class="form-control" />
      </div>
      <flight-validation-errors fieldLabel="Date" [errors]="editForm?.controls.date?.errors"></flight-validation-errors>
      @if (editForm.hasError('roundTrip')) {
        <div class="text-danger">Round trips are not allowed!</div>
      }
      <div class="form-group">
        <button (click)="save()" class="btn btn-default">Save</button>
      </div>
      @if (message) {
        <div>{{ message }}</div>
      }
    </form>
  }
</div>
