@if (errors) {
  <div>{{ fieldLabel }} is invalid.</div>
}

@if (errors?.required) {
  <div>{{ fieldLabel }} is required.</div>
}

@if (errors?.minlength) {
  <div>{{ fieldLabel }} minlength is {{ minLength }}.</div>
}

@if (errors?.maxlength) {
  <div>{{ fieldLabel }} maxlength is {{ maxLength }}.</div>
}

@if (errors?.pattern) {
  <div>{{ fieldLabel }} has invalid input.</div>
}

@if (errors?.city) {
  <div>{{ fieldLabel }} needs to be a city.</div>
}

@if (errors?.asyncCity) {
  <div>Async: No flights found with that "{{ fieldLabel }}".</div>
}

@if (errors?.roundTrip) {
  <div>Round trips are not allowed!</div>
}

@if (errors?.asyncMulti) {
  <div>No trips were found from {{ errors.from }} to {{ errors.to }}!</div>
}
