<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text" href="/">
      <div class="logo-img">
        <img src="assets/angular_gradient_68x68.png" alt="Angular Architects" />
      </div>
      Flight42
    </a>
  </div>

  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="/home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/flight-booking/flight-search">
        <i class="ti-arrow-top-right"></i>
        <p>Flights</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/flight-booking/charts">
        <i class="ti-pie-chart"></i>
        <p>Charts</p>
      </a>
    </li>
  </ul>
</div>
