<div class="card" [style.background-color]="'white'">
  <div class="header">
    <h2 class="title">Chart {{ id }}</h2>
  </div>
  <div class="content">
    <div class="chart-container" #container></div>
  </div>
</div>

<!--{{ blink() }}-->
