<h1>{{ title }}</h1>

<div class="row">
  @for (chart of charts; track chart.id) {
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <!--<app-chart [id]="chart.id" [data]="chart.data"></app-chart>-->
      <ng-container #cnt></ng-container>
    </div>
  }
</div>
